<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet">
</head>
<body>
<script>
    $(document).ready(function(){
        nowUser = 0;
        (function(time){
            var t = time;
            $('#clock span').text(t.toLocaleString());
            setInterval(function(){
                t.setSeconds(t.getSeconds() + 1);
                $('#clock span').text(t.toLocaleString());
            }, 1000);
        })(new Date("{{ timer }}"));
        var adjustHeightAndWidth = function() {
            $('.page_main').height(window.innerHeight - $('.navigation').height());
            $('.page_main .right_bar').width($(".page_main").innerWidth() - $(".left_bar").width());
        };

        adjustHeightAndWidth();
        $(window).resize(function(){
            adjustHeightAndWidth();
        });

        window.updateAccountList = function() {
            $.post('/account/list', {}, function(data){
                var lst = $(data);
                var lis = lst.find('a.list-group-item');
                for (var i = 0; i < lis.length; ++ i) {
                    (function(rr) {
                        rr.click(function(){
                            var uid = rr.find('.account-list-user-name').text();
                            openUser(uid);
                            $('#account-list .list-group-item.active').removeClass('active');
                            rr.addClass('active');
                        });
                    })(lis.eq(i));
                }
                $('#account-list-content').html(lst);
            });
        };


        window.openUser = function(uid) {
            $.post('/rooms/info', {
                'uid': uid
            }, function(data) {
                if (data != 'Error') {
                    var vw = $(data);
                    var lis = vw.find('.room-info-block');
                    for (var i = 0; i < lis.length; ++ i) {
                        (function(i){
                            var id = lis.eq(i).attr('id').slice(5);
                            lis.eq(i).click(function(){
                                openRoom(id);
                            });
                        })(i);
                    }
                    $('div.right_bar').html(vw);
                    nowUser = uid;
                }
            });
        };

        window.openAddRoom = function(uid) {
            $.post('/rooms/add', {
                'uid': uid
            }, function(data) {
                var vw = $(data);
                vw.find('#add-room-btn').click(function(){
                    $.post('/rooms/do_add', {
                        'name': vw.find('#add-room-name').val(),
                        'desc': vw.find('#add-room-desc').val(),
                        'flh': vw.find('#add-room-flh').val(),
                        'kch': vw.find('#add-room-kch').val(),
                        'kcm': vw.find('#add-room-kcm').val(),
                        'uid': nowUser
                    }, function(data){
                        if (data == 'Error') {
                            alert('Error');
                        }
                        else {
                            openUser(nowUser);
                        }
                    });
                });
                $('div.right_bar').html(vw);
            });
        };

        window.openAccountManager = function() {
            $.post('/account/manager', {}, function(data){
                nowUser = 0;
                $('div.right_bar').html(data);
                $('#account-list .list-group-item.active').removeClass('active');
                $('#account-manager').addClass('active');
            });
        };

        window.openRoom = function(rid) {
            $.post('/rooms/show_detail', {
                'rid': rid
            }, function(data) {
                $('div.right_bar').html(data);
            });
        };

        $('#account-manager').click(function() {
            openAccountManager();
        });

        updateAccountList();
    });
</script>

<div class="navigation">
    <div id="title"><span>{{ 'Lesson9' }}</span></div>
    <div id="clock"><span></span></span></div>
</div>
<div class="page_main">
    <div class="left_bar">
        <div id="account-list" class="list-group">
            <a class="list-group-item disabled header">Account List</a>
            <div id="account-list-content">
            </div>
            <a id="account-manager" class="list-group-item" href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>
    <div class="right_bar">
        <h1 style="margin-left: 20px;">Welcome!</h1>
    </div>
</div>
</body>
</html>